
.menu {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgba(255, 255, 255, .1);
  position: relative;
}

.menu button{
  height: 40px;
  padding: 0 15px;
  font-size: 15px;
  color: white;

}

.menu .divider{
  height: 2px;
  background-color: deepskyblue;
  position: absolute;
  bottom: 0;
  left: var(--left);
  width: var(--width);
  transition: 300ms all ;
}